{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    body {
       margin: 0px;
       padding; 0px;
       box-sizing: border-box; 
    }

    h1 {
        color: red;
        text-align: center;
    }

    section {
        display: flex;
        justify-content: space-evenly;
    }

    .wilder-card {
        height: 500px;
        width: 300px;
        background-color: black;
        border: 5px solid red;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .wilder-card-top,
    .wilder-card-bottom {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wilder-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
    }

    .wilder-infos {
        width: 80%;
        height: 80%;
        background-color: white;
        border-radius: 20px;
    }
</style>
{% endblock %}

{% block body %}

<h1>
    Trombinoscope
	<br>
	Wild Code School
	<br> 
    Promo Ikigaï 2020/2021
</h1>

<section>
    <div class="wilder-card">
        <div class="wilder-card-top">
            <div class="wilder-img"></div>
        </div>
        <div class="wilder-card-bottom">
            <div class="wilder-infos"></div>
        </div>
    </div>

    <div class="wilder-card">
        <div class="wilder-card-top">
            <div class="wilder-img"></div>
        </div>
        <div class="wilder-card-bottom">
            <div class="wilder-infos"></div>
        </div>
    </div>


    <div class="wilder-card">
        <div class="wilder-card-top">
            <div class="wilder-img"></div>
        </div>
        <div class="wilder-card-bottom">
            <div class="wilder-infos"></div>
        </div>
    </div>
</section>

{% endblock %}